{
 "BSC":[
   {
     "poolId": 0,
     "name": "test Project 1,
     "nameKey": "test1",
     "chainId": 97,
     "type": "IGO",
     "distribution": "Claim",
     "avatar": "https://bafkreig6d5rnrdd5hi46xikjry5hb5tg2oxxmdwfseisumqyjag5ldxtiu.ipfs.dweb.link/",
     "subName": "$VIP",
     "claimStarts": 0,
     "idoTokenPrice": 0.15,
     "launchTime": 1640939561000,
     "vesting": "10% unlocked 7 days after IDO, then weekly vesting for 12 months (airdrop method)",
   },
   {
     "poolId": 1,
     "name": "test Project 2,
     "nameKey": "test2",
     "chainId": 97,
     "type": "IGO",
     "distribution": "Claim",
     "avatar": "https://bafkreig6d5rnrdd5hi46xikjry5hb5tg2oxxmdwfseisumqyjag5ldxtiu.ipfs.dweb.link/",
     "subName": "$VIP",
     "claimStarts": 1640939561000,
     "idoTokenPrice": 0.047,
     "launchTime": 1640939561000,
     "vesting": "10% unlocked 7 days after IDO, then weekly vesting for 12 months (airdrop method)",
   },
 ],
 "ETH":[],
 "polygon":[],
 "time": "2022-01-12"
}
