{
 "BSC":[
   {
     "poolId": 0,
     "name": "Fight of the Ages",
     "nameKey": "FOTA",
     "chainId": 56,
     "type": "IGO",
     "distribution": "Airdrop",
     "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/photo_2022-01-24_23-04-27.jpg",
     "subName": "$FOTA",
     "claimStarts": 0,
     "idoTokenPrice": 0.15,
     "launchTime": 1643119200000,
     "vesting": "10% unlocked 7 days after IDO, then weekly vesting for 12 months (airdrop method)",
     "claimRatio":0.66
   }
 ],
 "ETH":[],
 "polygon":[],
 "time": "2022-01-12"
}
