{
    "BSC": [
        {
            "poolId": 0, 
            "name": "Fight of the Ages", 
            "nameKey": "FOTA", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/photo_2022-01-24_23-04-27.jpg", 
            "subName": "$FOTA", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.15, 
            "launchTime": 1643119200000, 
            "vesting": "10% unlocked 7 days after IDO, then weekly vesting for 12 months (airdrop method)", 
            "claimRatio": 0.66, 
            "description": "FOTA is a Triple-A MOBA Game project (based in Singapore) with a fantasy universe inhabited by many races throughout the universe. In the world of FOTA, NFT Technology is optimized so that users can feel the possibility of owning valuable digital assets during the journey.", 
            "about": "FOTA is more than just a MOBA game platform, the development team has also introduced economic mechanisms and democracies through the DAO with the vision of turning this Metaverse platform into an ever-more realistic universe through integrating Microsoft Mesh (a Microsoft Corporation branch pioneering in creating the most immersive Metaverse experience).", 
            "idoType": "Flash IDO", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-5.png", 
            "website": "https://fota.io/", 
            "twitter": "https://twitter.com/fightoftheages", 
            "telegram": "https://t.me/fota_channel", 
            "chainName": "BSC", 
            "startTime": "01/25/2022 UTC", 
            "endTime": "01/25/2022 UTC"
        }, 
        {
            "poolId": 1, 
            "name": "STMAN", 
            "nameKey": "STMAN", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-0.png", 
            "subName": "$STMAN", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.05, 
            "launchTime": 1644512400000, 
            "vesting": "At TGE: unlock 5% + Linear weekly vesting in 20 weeks (5 months)", 
            "claimRatio": 1, 
            "description": "Stickman's Battleground is an #NFTgame of survival with free-and-earn mechanism.", 
            "about": "Stickman's Battleground is an NFT Free-To-Earn (F2E) game that infuses the popular Stickman concept with the battle royale gameplay that has dominated the industry for the recent years. In addition to the anti-inflation mechanisms, the project will offer profitable staking and yield farming ecosystem.", 
            "idoType": "Flash Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-5.png", 
            "website": "https://stman.io/", 
            "twitter": "https://twitter.com/Stickman_STMAN", 
            "telegram": "https://t.me/stman_official", 
            "chainName": "BSC", 
            "startTime": "5PM 02/10/2022 UTC", 
            "endTime": "8PM 02/10/2022 UTC"
        }
    ], 
    "ETH": [], 
    "polygon": [], 
    "time": "2022-01-12"
}
