{
    "BSC": [
    {
            "poolId": 0, 
            "IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
            "name": "Sugar Kingdom", 
            "nameKey": "CANDY", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom+avatar.png", 
            "subName": "$CANDY", 
            "claimStarts": 0,
            "idoTokenPrice": 0.11, 
            "launchTime": 1647352800000, 
            "vesting": "6% at TGE, 4 months cliff, then 12% per month.", 
            "claimRatio": 0.55, 
            "description": "Sugar Kingdom is not just a game for those who are blockchain users.But it’s a game that could introduce blockchain to millions of players.", 
            "about": "Besides enjoying an addictive and immersive gameplay, players are the real owners of the items inside the game, and they are able to exchange them with other players and obtain real, attractive and significant rewards according to their total play time. Later, they can invest these earnings in the different economic systems that coexist within the platform. ", 
            "idoType": "Private Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_5.png", 
            "website": "https://www.sugarkingdom.io/", 
            "twitter": "https://twitter.com/SugarKingdomNFT",
            "telegram": "https://t.me/+X3rSQ4M1yYVkNTYx", 
            "chainName": "BSC", 
            "startTime": "2PM 03/15/2022 UTC", 
            "endTime": "8PM 03/15/2022 UTC",
            "idoTokenSymbol":"CANDY",
            "idoOnChainName":"BSC",
            "idoOnChainLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
            "distributedName":"BSC",
            "distributedLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg"
        },
          {
            "poolId": 1, 
            "IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
            "name": "Sugar Kingdom FCFS", 
            "nameKey": " CANDY", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom+avatar.png", 
            "subName": "$CANDY", 
            "claimStarts": 0,
            "idoTokenPrice": 0.11, 
            "launchTime": 1647439200000, 
            "vesting": "6% at TGE, 4 months cliff, then 12% per month.", 
            "claimRatio": 0.55, 
            "description": "Sugar Kingdom is not just a game for those who are blockchain users.But it’s a game that could introduce blockchain to millions of players.", 
            "about": "Besides enjoying an addictive and immersive gameplay, players are the real owners of the items inside the game, and they are able to exchange them with other players and obtain real, attractive and significant rewards according to their total play time. Later, they can invest these earnings in the different economic systems that coexist within the platform. ", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugar_5.png", 
            "website": "https://www.sugarkingdom.io/", 
            "twitter": "https://twitter.com/SugarKingdomNFT",
            "telegram": "https://t.me/+X3rSQ4M1yYVkNTYx", 
            "chainName": "BSC", 
            "startTime": "2PM 03/16/2022 UTC", 
            "endTime": "8PM 03/16/2022 UTC",
            "idoTokenSymbol":"CANDY",
            "idoOnChainName":"BSC",
            "idoOnChainLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
            "distributedName":"BSC",
            "distributedLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg"
        },
        {
            "poolId": 3, 
            "IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
            "name": "Wizardia", 
            "nameKey": "WZRD", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://pbs.twimg.com/profile_images/1491351113634824193/g9U2rhQv_400x400.jpg", 
            "subName": "$WZRD", 
            "claimStarts": 0,
            "idoTokenPrice": 0.12, 
            "launchTime": 1647871200000, 
            "vesting": "20% at TGE month (daily vesting) , 5 months vesting total", 
            "claimRatio": 1.66, 
            "description": "Wizardia is a Play-to-Earn (P2E) online RPG and strategy game that allows players to participate in a variety of multiplayer activities while rewarding player effort and time for participating in the rich lore of Wizardia. The project team hosts incredible artistic talents that were involved in some of the most popular AAA game projects such as the Call of Duty series", 
            "about": "With the recent boom of Metaverse and GameFi, the market experienced a rush of projects for funding to ride the hype. However, many projects lacked proper preparation, talent pool, pre-funding work, valuable design, and key economy components. Wizardia boasts with its carefully designed and balanced game economy, stunning visuals, and rich lore that dates back a decade in the minds of its creators.", 
            "idoType": "IDO", 
            "pic1": "https://miro.medium.com/max/1400/1*klUkrXtaDxUwpOFUPk6xUw.png", 
            "pic2": "https://miro.medium.com/max/1400/1*_ynW4ktCcqW3W746L1k17g.png", 
            "pic3": "https://pbs.twimg.com/media/FOSYse1WUAM0CkI?format=jpg&name=large", 
            "pic4": "https://pbs.twimg.com/media/FONdthqXEAAKOcR?format=jpg&name=large", 
            "pic5": "https://miro.medium.com/max/1400/1*sDtxiLem04TTy5SxjR4yJw.png", 
            "website": "https://wizardia.io/", 
            "twitter": "https://twitter.com/PlayWizardia",
            "telegram": "https://t.me/wizardia", 
            "chainName": "BSC", 
            "startTime": "2PM 03/21/2022 UTC", 
            "endTime": "8PM 03/21/2022 UTC",
            "idoTokenSymbol":"WZRD",
            "idoOnChainName":"BSC",
            "idoOnChainLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
            "distributedName":"BSC",
            "distributedLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg"
        },
         {
            "poolId": 4, 
            "IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
            "name": "Wizardia FCFS Sale", 
            "nameKey": " WZRD", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://pbs.twimg.com/profile_images/1491351113634824193/g9U2rhQv_400x400.jpg", 
            "subName": "$WZRD", 
            "claimStarts": 0,
            "idoTokenPrice": 0.12, 
            "launchTime": 1647936000000, 
            "vesting": "20% at TGE month (daily vesting) , 5 months vesting total", 
            "claimRatio": 1.66, 
            "description": "Wizardia is a Play-to-Earn (P2E) online RPG and strategy game that allows players to participate in a variety of multiplayer activities while rewarding player effort and time for participating in the rich lore of Wizardia. The project team hosts incredible artistic talents that were involved in some of the most popular AAA game projects such as the Call of Duty series", 
            "about": "With the recent boom of Metaverse and GameFi, the market experienced a rush of projects for funding to ride the hype. However, many projects lacked proper preparation, talent pool, pre-funding work, valuable design, and key economy components. Wizardia boasts with its carefully designed and balanced game economy, stunning visuals, and rich lore that dates back a decade in the minds of its creators.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://miro.medium.com/max/1400/1*klUkrXtaDxUwpOFUPk6xUw.png", 
            "pic2": "https://miro.medium.com/max/1400/1*_ynW4ktCcqW3W746L1k17g.png", 
            "pic3": "https://pbs.twimg.com/media/FOSYse1WUAM0CkI?format=jpg&name=large", 
            "pic4": "https://pbs.twimg.com/media/FONdthqXEAAKOcR?format=jpg&name=large", 
            "pic5": "https://miro.medium.com/max/1400/1*sDtxiLem04TTy5SxjR4yJw.png", 
            "website": "https://wizardia.io/", 
            "twitter": "https://twitter.com/PlayWizardia",
            "telegram": "https://t.me/wizardia", 
            "chainName": "BSC", 
            "startTime": "8AM 03/22/2022 UTC", 
            "endTime": "10AM 03/22/2022 UTC",
            "idoTokenSymbol":"WZRD",
            "idoOnChainName":"BSC",
            "idoOnChainLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
            "distributedName":"BSC",
            "distributedLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg"
        },
         {
            "poolId": 5, 
            "IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
            "name": "STMAN FCFS Sale", 
            "nameKey": " STMAN", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://pbs.twimg.com/profile_images/1491351113634824193/g9U2rhQv_400x400.jpg", 
            "subName": "$STMAN", 
            "claimStarts": 0,
            "idoTokenPrice": 0.075, 
            "launchTime": 1648108800000, 
            "vesting": "TGE Unlock 10%, 20% vesting per month.", 
            "claimRatio": 1.333, 
            "description": "Stickman's Battleground is an #NFTgame of survival with free-and-earn mechanism.", 
            "about": "Stickman's Battleground is an NFT Free-To-Earn (F2E) game that infuses the popular Stickman concept with the battle royale gameplay that has dominated the industry for the recent years. In addition to the anti-inflation mechanisms, the project will offer profitable staking and yield farming ecosystem.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-5.png", 
            "website": "https://stman.io/", 
            "twitter": "https://twitter.com/Stickman_STMAN", 
            "telegram": "https://t.me/stman_official", 
            "chainName": "BSC", 
            "startTime": "8AM 03/24/2022 UTC", 
            "endTime": "10AM 03/24/2022 UTC",
            "idoTokenSymbol":"STMAN",
            "idoOnChainName":"BSC",
            "idoOnChainLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
            "distributedName":"BSC",
            "distributedLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg"
        }
    ], 
    "ETH": [], 
    "polygon": [], 
    "time": "2022-02-22"
}
