{
    "BSC": [
    {
            "poolId": 0, 
            "IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
            "name": "Sugar Kingdom", 
            "nameKey": "CANDY", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Claim", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom+avatar.png", 
            "subName": "$CANDY", 
            "claimStarts": 1648569600, 
            "idoTokenPrice": 0.11, 
            "launchTime": 1647352800000, 
            "vesting": "6% at TGE, 4 months cliff, then12% per month.", 
            "claimRatio": 0.55, 
            "description": "Sugar Kingdom is not just a game for those who are blockchain users.But it’s a game that could introduce blockchain to millions of players.", 
            "about": "Besides enjoying an addictive and immersive gameplay, players are the real owners of the items inside the game, and they are able to exchange them with other players and obtain real, attractive and significant rewards according to their total play time. Later, they can invest these earnings in the different economic systems that coexist within the platform. ", 
            "idoType": "IDO SALE", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/sugarkingdom/sugarkingdom5.png", 
            "website": "https://www.sugarkingdom.io/", 
            "twitter": "https://twitter.com/SugarKingdomNFT",
            "telegram": "https://t.me/+X3rSQ4M1yYVkNTYx", 
            "chainName": "BSC", 
            "startTime": "2PM 03/15/2022 UTC", 
            "endTime": "8PM 03/15/2022 UTC",
            "idoTokenSymbol":"CANDY",
            "idoOnChainName":"BSC",
            "idoOnChainLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
            "distributedName":"BSC",
            "distributedLogo":"https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg"
        }
    ], 
    "ETH": [], 
    "polygon": [], 
    "time": "2022-02-22"
}
